@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
    --radius: 0.5rem;
    --primary: oklch(0.7 0.2 29);
}

@theme inline {
    --font-inter: "Inter", sans-serif;
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-primary: var(--primary);
}

@layer base {
    * {
        @apply border-neutral-300;
    }

    html {
        @apply relative;
    }

    body {
        @apply font-inter bg-neutral-50 text-neutral-800;
        @apply selection:bg-primary selection:text-neutral-800;
    }

    :focus-visible {
        @apply outline-none ring-3 ring-primary;
    }
}